<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Beers Bar</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="../stylesheets/beers.css">
</head>
<body>
    <div class="topNav">
        <ul class="navBar">
            <li id="beerBar"> <a href="index.html" class="beerItems" >Beer Bar</a></li>
            <li id="beers"><a href="beers.html" class="beerItems">Beers</a></li>
            <li class="beerItems" id="randomBeer">Random Beer</li>
        </ul>
        <div class="searchSection">
        <input type="text" placeholder="Search..." id="searchBox">
        <button type="button" id="searchButton">Search</button>
    </div>
    </div>
    <div id="sortingDiv">
        <div>
            <label for="showNumOfBeers"></label>
            <select name="numOfBeers" id="numOfBeers" class="sort">
                <option value="five" class="pageSize">Show 5</option>
                <option value="ten" class="pageSize">Show 10</option>   
                <option value="twenty" class="pageSize">Show 20</option>
                <option value="all" class="pageSize">Show All</option>
            </select>
        </div>
        <div>
            <label for="sorting"></label>
            <select name="sort" id="sort" class="sort">
                <option value= 1 id="option1">Sort by name</option>
                <option value= 2 id="option2">% alc abv --- abv prop</option>
                <option value= 3 id="option3">First brewed</option>
                <option value= 4 id="option4">bitternes --- ibu prop</option>
                </select>
        </div>
    </div>
    <div id="beersDiv"></div>

    <div id="nextButtons">
        <button id="next" class="nextAndPrev">Next</button>
        <button id="previous" class="nextAndPrev">Previous</button>
    </div>
    <div id="mainDetails">
    <div id="details"></div>
</div>
    <script src="../src/script.js"></script>
    <!-- <script src="../src/details.js"></script> -->
</body>
</html>