<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
    <div class="topNav">
        <ul class="navBar">
            <li id="beerBar"> <a href="index.html" class="beerItems" >Beer Bar</a></li>
            <li id="beers"><a href="beers.html" class="beerItems">Beers</a></li>
            <li class="beerItems" id="randomBeer">Random Beer</li>
        </ul>
        <div class="searchSection">
        <input type="text" placeholder="Search..." id="searchBox">
        <button type="button" id="searchButton">Search</button>
    </div>
    </div>
    <div id= 'mainDetails'>
        
    </div>

    <!-- <script src="../src/details.js"></script> -->
    <script src="../src/script.js"></script>
</body>
</html>