
body{
    background-color: seagreen;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
#headers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.headerSecond{
    margin-top: -20px;
}
button{
    width: 50px;
    height: 50px;
    color:  seagreen;
    background-color: white;
    border: 1px solid white;
    margin: 2px;
    border-radius: 10px;
}
button:hover{
    background-color: rgb(186, 238, 81) ;
    color: white;;
}
#clue{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-self: center;
}
#clueHeader{
    align-self: center;
}
#clueBox{
    border: 1px dashed white;
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-self: center;
}
#buttons{
    align-self: center;
    width: 750px;
}
#hintAndRestart{
    display: flex;
    align-self: center;
    margin-top: 10px;
}
#hint, #restart{
    width: 100px;
    background-color: transparent;
    color: white;
    border: 1px dashed white;
}
#finalWord{
    align-self: center;
}
#category{
    align-self: center;
    display: flex;

}
#lives{
    align-self: center;
}
#displayClue{
    align-self: center;
}
