<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Beers Bar</title>
    <link rel="stylesheet" href="../stylesheet/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
</head>
<body id="greeting">
    <div class="topNav">
        <ul class="navBar">
            <li id="beerBar"> <a href="index.html" class="beerItems" >Beer Bar</a></li>
            <li id="beers"><a href="beers.html" class="beerItems">Beers</a></li>
            <li class="beerItems" id="randomBeer"> Random Beer</li>
        </ul>
    </div>
    </div>
<div class="greetingDiv">
    <h1 class="greetingHeader header">Hello, this is the beer world!!!</h1>
    <h3 class="header simpleHeader">This is a simple beer page, you can find all the informations for beers here.</h3>
    <div class="line"></div>
    <div class="picture"> <img src="../images/greetingBeerPicture.jpg" alt="Beer Picture" id="picture"></div>
</div>

<!-- <script src="../script/script.js"></script> -->
<script src="../script/randomBeer.js"></script>
</body>
</html>