#main{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 50px;
}
#btn{
    margin-top: 10px;
}

#button{
    margin-top: 10px;
}
input{
    margin-top: 10px;
    background-color: aliceblue;
    padding: 5px;
}

#animal{
    display: flex;
    flex-direction: column;
    width: 200px;
}


