.mainDiv{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

}
input{
    border: 2px;
    background-color: aliceblue;
    padding: 12px;
}

#btn{
    background-color: aliceblue;
    padding: 12px;
    border: transparent;
}

#btn:hover{
    background-color: black;
    color: whitesmoke;
 
}
#tableContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:20px;
}

